# --- Core Web Framework ---
Flask
Flask-Session
Flask-SocketIO
gunicorn

# --- Firebase & Google Cloud ---
firebase-admin>=6.4.0
google-auth>=2.25.2
cryptography>=39.0.0
google-api-core
google-cloud-storage
google-cloud-pubsub
google-cloud-firestore
urllib3<2

pycountry


# --- Async, HTTP & Utility ---
aiohttp
requests
python-dotenv
tqdm

# --- AI & NLP ---
openai
tiktoken
transformers
mnemonic
markdown

# --- Audio ---
pydub
ffmpeg-python

# --- Logging & Security ---
werkzeug
jinja2
protobuf
