# --- Core Web Framework ---
Flask
Flask-Session
Flask-SocketIO
gunicorn

# --- Firebase & Google Cloud ---
firebase-admin
google-api-core
google-auth
google-cloud-storage
google-cloud-pubsub
google-cloud-firestore
pycountry


# --- Async, HTTP & Utility ---
aiohttp
requests
python-dotenv
tqdm

# --- AI & NLP ---
openai
tiktoken
transformers
mnemonic
markdown

# --- Audio ---
pydub
ffmpeg-python

# --- Logging & Security ---
werkzeug
jinja2
protobuf
