<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Chat Psychologist A.I</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CPlayfair+Display:400,500,600,700,400i,500i,600i,700i%7CPoppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Additional CSS Files -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
</head>
<body class="ph1-body ph1-font treatment-body">
  <!-- Header -->
  <header id="header" class="fixed-top top-0 d-flex align-items-center py-2 shadow">
    {% if session['user_logged_in'] %}
      <div class="container-fluid container-xl d-flex align-items-center  justify-content-lg-between">
        <div class="d-flex">
          <img src="{{ url_for('static', filename='../static/assets/img/logo.png') }}" alt="Logo" class="ph1-logo">
          <h1 class="logo me-auto me-lg-0"><a href="{{ url_for('home') }}" class="text-decoration-none">ChatPsychologistAI</a></h1>
        </div>
        <div class="d-flex">
          <a href="{{ url_for('questions') }}" class="book-a-table-btn scrollto d-none d-lg-flex text-decoration-none">Treatment</a>
          <a href="{{ url_for('logout') }}" class="book-a-table-btn scrollto d-none d-lg-flex text-decoration-none">Logout</a>
        </div>
      </div>
    {% else %}
      <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
        <h1 class="logo me-auto me-lg-0"><a href="{{ url_for('home') }}">ChatPsychologistAI</a></h1>
        <a href="{{ url_for('login') }}" class="book-a-table-btn scrollto d-none d-lg-flex">Login</a>
      </div>
    {% endif %}
  </header>

  <main id="main" class="mt-5 pt-5">
    <section class="container-fluid p-0 pt-5">
      <div class="row pt-5">
        <div class="col-1"></div>
        <div class="col-6" data-aos="zoom-in" data-aos-delay="100">
          <h1>Start with Treatmant</h1>
          <h5 class="ph1-h5 text-xs"> Please respond to these questions and explain in more detail what is bothering you!</h5>
        </div>
        <div class="col-5">
          <div class="image-container">
            <div class="text-overlay">TREATMENT</div>
            <img src="{{ url_for('static', filename='../static/assets/img/Vector 1.png') }}" alt="banner" class="right-image" width="135px" height="60px"/>
          </div>
        </div>
    </section>
    <section class="inner-page">
      <div class="container">
        {% if session['first_login'] %}
          <!-- Display the diagnostic part for first-time users -->
          <form action="/questions" method="post">
            {% for topic in questions %}
            {% for item in topic.questions %}
              <div class="mb-4 rounded-section p-3 mb-2 question border">
                <span class="question-number">{{ loop.index }}</span>
                <label class="form-label py-2">{{ item.question }}</label>
                <div class="slider-container">
                  <div class="d-flex gap-1 align-items-center">
                  <input
                    type="range"
                    min="0"
                    max="5"
                    value="0"
                    class="slider m-0"
                    id="slider{{ loop.index }}"
                    name="{{topic.topic}}_diagnose_score_{{ loop.index }}"
                    oninput="updateOutput(this.value, {{ loop.index }})"
                  >
                  <output id="slider-output{{ loop.index }}" class="mt-1 d-flex align-items-center justify-content-center">0</output>
                </div>
                </div>
                <div id="slider-interpretation{{ loop.index }}" class="slider-interpretation fw-light fst-italic">Not at all</div>
                <input
                  type="text"
                  name="{{topic.topic}}_diagnose_comments_{{ loop.index }}"
                  placeholder="If this is an important topic related to your mental issue, please write more (optional)." 
                  class="form-control mt-2"
                >
              </div>
            {% endfor %}
            {% endfor %}
              <div class="mb-4 rounded-section p-3 mb-2 question border">
                <label class="form-label p-2">Explain your problem with more details:</label>
                <textarea name="prompt" required></textarea>
                <br>
              </div>
              <button type="submit" class="btn btn-primary" id="submit-btn">
                Send
                <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </button>
          </form>


        {% else %}
          <!-- Display the saved diagnosis for returning users -->


          {% if saved_diagnosis %}
          <p>{{ saved_diagnosis }}</p>
          {% endif %}
        {% endif %}

        {% if result %}
          <p>{{ result }}</p>
          {% endif %}

        {% if diagnosis_found %}
        <button onclick="location.href='{{ url_for('chat') }}'">Go to ChatPsychologistAI</button>
        {% endif %}
      </div>
    </section>

  </main><!--End #main-->

  <script>
    function updateOutput(value, index) {
      const outputElement = document.getElementById('slider-output' + index);
      outputElement.value = value;
      
      const interpretationElement = document.getElementById(`slider-interpretation${index}`);
      let interpretation;
      value = parseInt(value); // Convert the value to an integer
      
      if (value >= 4) {
        interpretation = "Extremely";
      } else if (value >= 3) {
        interpretation = "Sometimes";
      } else if (value >= 2) {
        interpretation = "Occasionally";
      } else if (value >= 1) {
        interpretation = "Rarely";
      } else {
        interpretation = "Not at all";
      }
      
      interpretationElement.textContent = interpretation;
    }


    document.addEventListener('DOMContentLoaded', function () {
      var form = document.querySelector('form');
      var submitButton = document.getElementById('submit-btn');
      var spinner = document.getElementById('spinner');
    
      form.onsubmit = function() {
        spinner.style.display = 'inline-block';
        submitButton.classList.add('spinner-visible'); 
        submitButton.disabled = true;
      };
      var sliders = document.querySelectorAll('input[type="range"]');
      sliders.forEach(function(slider) {
        slider.oninput = function() {
          var output = document.getElementById(this.id + 'Output');
          if (output) {
            output.value = this.value;
          }
          updateOutput(this.value, this.id.replace('slider', ''));
        };
      });
    });
    </script>
  <!-- Scripts -->
  <!-- Bootstrap Bundle JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Additional Scripts -->
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
<!-- Bootstrap Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>