{% include 'sidebar.html' %}

{% block custom_style %}
<style>
  .btn-orange {
    background-color: #E28647;
    text-decoration: none;
    padding: 10px 10px;
    display: inline;
    color: #FFFFFF !important;
    border-radius: 5px;
    border: none;
    font-weight: bold;
  }
</style>
{% endblock %}

{% block content %}
<body class="login-body">
<main id="main" class="">
    <section class="container">
      <div class="col-md-10 mt-5">
        <form action="/appointment" method="post" class="login-form shadow-sm bg-white">
          <h2 class="mb-5 text-center">THERAPY SESSION INFORMATION</h2>
          <div class="mb-3">
            <label for="appointment_date" class="form-label">Appointment Date</label>
            <input type="date" class="form-control" id="appointment_date" name="appointment_date" required>
          </div>
          <div class="mb-3">
            <label for="appointment_time" class="form-label">Appointment Time</label>
            <input type="time" class="form-control" id="appointment_time" name="appointment_time" required>
          </div>
          <div class="mb-5">
            <label for="therapist" class="form-label">Select Therapist</label>
            <select class="form-select rounded-section py-2 fs-5" id="therapist" name="therapist" required>
              <option value="" disabled selected>Select a therapist</option>
              <option value="therapist1">Therapist 1</option>
              <option value="therapist2">Therapist 2</option>
              <option value="therapist3">Therapist 3</option>
            </select>
          </div>
          <a href="{{ url_for('personal_info_phase_1') }}" class="text-decoration-none btn-orange d-grid mb-5">
            Book Appointment
          </a>
        </form>
      </div>
    </section>
</main>
</body>
{% endblock %}