{% include 'phases_header.html'%}
  <main id="main" class="mt-5 pt-5 text-">
    <section class="container-fluid p-0 pt-5">
      <div class="row pt-5">
        <div class="col-1"></div>
        <div class="col-6">
          <h1 class="text-black">Start with Treatmant</h1>
          <h5 class="ph1-h5 text-xs"> Please respond to these questions and explain in more detail what is bothering you!</h5>
        </div>
        <div class="col-5">
          <div class="image-container">
            <div class="text-overlay">TREATMENT</div>
            <img src="{{ url_for('static', filename='../static/assets/img/Vector 1.png') }}" alt="banner" class="right-image" width="135px" height="60px"/>
          </div>
        </div>
    </section>
    <section class="inner-page">
      <div class="container">
        {% if session['first_login'] %}
          <!-- Display the diagnostic part for first-time users -->
          <form action="/questions" method="post">
            {% for topic in questions %}
            {% for item in topic.questions %}
              <div class="mb-4 rounded-section p-3 mb-2 question border">
                <span class="question-number">{{ loop.index }}</span>
                <label class="form-label py-2">{{ item.question }}</label>
                <div class="slider-container">
                  <div class="d-flex gap-1 align-items-center">
                  <input
                    type="range"
                    min="0"
                    max="100"
                    value="0"
                    class="slider m-0"
                    id="slider{{ loop.index }}"
                    name="{{topic.topic}}_diagnose_score_{{ loop.index }}"
                    oninput="updateOutput(this.value, {{ loop.index }})"
                  >
                  <output id="slider-output{{ loop.index }}" class="mt-1 d-flex align-items-center justify-content-center">0</output>
                </div>
                </div>
                <div id="slider-interpretation{{ loop.index }}" class="slider-interpretation">Not at all</div>
                <input
                  type="text"
                  name="{{topic.topic}}_diagnose_comments_{{ loop.index }}"
                  placeholder="If this is an important topic related to your mental issue, please write more (optional)."
                  class="form-control mt-2"
                >
              </div>
            {% endfor %}
            {% endfor %}
              <div class="mb-4 rounded-section p-3 mb-2 question border">
                <label class="form-label p-2">Explain your problem with more details:</label>
                <textarea name="prompt" required></textarea>
                <br>
              </div>
              <button type="submit" class="btn btn-primary" id="submit-btn">
                Send
                <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </button>
          </form>


        {% else %}
          <!-- Display the saved diagnosis for returning users -->


          {% if saved_diagnosis %}
          <p>{{ saved_diagnosis }}</p>
          {% endif %}
        {% endif %}

        {% if result %}
          <p>{{ result }}</p>
          {% endif %}

        {% if diagnosis_found %}
        <button onclick="location.href='{{ url_for('chat') }}'">Go to ChatPsychologistAI</button>
        {% endif %}
      </div>
    </section>

  </main><!--End #main-->

  <script>
    function updateOutput(value, index) {
      const outputElement = document.getElementById('slider-output' + index);
      outputElement.value = value;
      
      const interpretationElement = document.getElementById(`slider-interpretation${index}`);
      let interpretation;
      value = parseInt(value); // Convert the value to an integer
      
      if (value >= 4) {
        interpretation = "Extremely";
      } else if (value >= 3) {
        interpretation = "Sometimes";
      } else if (value >= 2) {
        interpretation = "Occasionally";
      } else if (value >= 1) {
        interpretation = "Rarely";
      } else {
        interpretation = "Not at all";
      }

      interpretationElement.textContent = interpretation;
    }


    document.addEventListener('DOMContentLoaded', function () {
      var form = document.querySelector('form');
      var submitButton = document.getElementById('submit-btn');
      var spinner = document.getElementById('spinner');

      form.onsubmit = function() {
        spinner.style.display = 'inline-block';
        submitButton.classList.add('spinner-visible');
        submitButton.disabled = true;
      };
      var sliders = document.querySelectorAll('input[type="range"]');
      sliders.forEach(function(slider) {
        slider.oninput = function() {
          var output = document.getElementById(this.id + 'Output');
          if (output) {
            output.value = this.value;
          }
          updateOutput(this.value, this.id.replace('slider', ''));
        };
      });
    });
    </script>
  </body>
</html>
