{% extends 'base.html' %}

  {% block nav_items %}
    <a href="#services" class="book-a-table-btn d-none d-lg-flex text-decoration-none">Our Services</a>
    <a href="#testimonial" class="book-a-table-btn d-none d-lg-flex text-decoration-none">Testimonials</a>
    <a href="#footer" class="book-a-table-btn d-none d-lg-flex text-decoration-none">Contact Us</a>
  {% endblock %}

  {% block logout_items %}
  <a href="#services" class="book-a-table-btn d-none d-lg-flex text-decoration-none">Our Services</a>
  <a href="#testimonial" class="book-a-table-btn d-none d-lg-flex text-decoration-none">Testimonials</a>
  <a href="#footer" class="book-a-table-btn d-none d-lg-flex text-decoration-none">Contact Us</a>
  {% endblock %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="container mt-5">
    <div class="row mt-5 pt-5">
      <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="text-white">Chat Psychologist</h1>
        <h1>Understanding Minds</h1>
        <h5 class="text-white">Unlocking the Potential Within, One Step at a Time. Empowering Your Journey to Comprehensive Mental Wellness</h5>
        {% if session['user_logged_in'] %}
          <div class="btns">
            <a href="{{ url_for('treatment') }}">START TREATMENT WITH US</a>
          </div>
        {% else %}
          <div class="btns">
            <a href="{{ url_for('login') }}">START TREATMENT WITH US</a>
          </div>
        {% endif%}
      </div>
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='../static/assets/img/hero.png') }}" alt="Logo">
      </div>
    </div>
  </section>

  <!-- ======= Mission and Vision Section ======= -->
  <section class="container mt-5 mb-5 mission">
    <div class="row">
      <div class="col-4">
        <img src="{{ url_for('static', filename='../static/assets/img/mission.png') }}" alt="Mission" class="mission-img">
      </div>
      <div class="col-8 my-auto">
        <h1>Mission</h1>
        <p>To make therapy as affordable as possible by leveraging advanced AI and psychological research.
          Our goal is to provide therapists and patients with innovative tools that enhance the efficiency, 
          accessibility, and effectiveness of therapy sessions, ensuring better outcomes for all.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-8 my-auto">
        <h1>Vision</h1>
        <p>We aim to make therapy more accessible and affordable by integrating AI tools. 
            Our focus is on holistic mental health care, promoting personal growth and well-being.
        </p>
      </div>
      <div class="col-4 justify-content-end">
        <img src="{{ url_for('static', filename='../static/assets/img/vision.png') }}" alt="Vision" class="vision-img">
      </div>
    </div>
  </section>

  <!-- ======= Our Services ======= -->
  <section id="services" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center">
      <h4 class="main-h4 mb-5">OUR SERVICES</h4>
      <div class="row mt-5">
        {% for card in cards %}
          <div class="col-md-4 d-flex align-items-stretch mb-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="main-card {% if loop.index == 2 or loop.index == 5 %}border-cyan{% endif %}">
              <div class="main-card-body">
                <h5 class="main-card-title">{{ card.title }}</h5>
                <p class="card-text">{{ card.text }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- ======= Testimonial ======= -->
  <section id="testimonial" class="container mt-5 pe-0 ps-0">
    <div class=" text-center">
      <h4 class="main-h4 mb-5">TESTIMONIALS</h4>
    </div>
    <div id="testimonialCarousel" class="carousel slide mt-5" data-bs-ride="carousel" data-bs-interval="5000">
      <div class="carousel-innere">
        {% for doctor in doctors %}
          {% if loop.index0 % 3 == 0 %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %} ">
              <div class="row border border-white">
          {% endif %}
                <div class="col-md-4 border border-right-0 border-left-0 border-white">
                  <div class="slider-card">
                    <img src="{{ doctor.image }}" class="rounded-circle mx-auto d-block" alt="{{ doctor.name }}">
                    <div class="card-body">
                      <h5 class="card-title text-start mb-1">{{ doctor.name }}</h5>
                      <p class="card-text">{{ doctor.specialty }}</p>
                      <p class="card-text">{{ doctor.message }}</p>
                    </div>
                  </div>
                </div>
          {% if loop.index0 % 3 == 2 or loop.last %}
                <div class="d-flex justify-content-center position-relative">
                  <span class="" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                    <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.00001 15.0568C9.31251 12.784 12.3125 11.3636 15.625 11.3636C21.4375 11.3636 26.35 15.6675 28.075 21.6193L25.125 22.7272C24.467 20.4542 23.1944 18.4753 21.4885 17.0725C19.7827 15.6696 17.7307 14.9145 15.625 14.9147C13.1875 14.9147 10.9625 15.9374 9.22501 17.5852L13.75 22.7272H2.50001V9.94312L7.00001 15.0568Z" fill="white"/>
                    </svg>
                  </span>
                  <span class="" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                    <svg width="30" height="35" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M23 13.25C20.6875 11.25 17.6875 10 14.375 10C8.56249 10 3.64999 13.7875 1.92499 19.025L4.87499 20C5.53301 17.9998 6.80564 16.2583 8.51148 15.0238C10.2173 13.7893 12.2693 13.1248 14.375 13.125C16.8125 13.125 19.0375 14.025 20.775 15.475L16.25 20H27.5V8.75L23 13.25Z" fill="white"/>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer id="footer">
    <div class="footer-content position-absolute bottom-md-5 ms-md-5 ms-1">
      <h4>CONTACT US</h4>
      <p class="text-sm-start">We always appreciate your nice feedback about the website performance and any technical problem that you are facing.</p>
      <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://wa.me/yourwhatsappnumber" target="_blank"><i class="fab fa-whatsapp"></i></a>
      <a href="mailto:youremail@example.com" target="_blank"><i class="fas fa-envelope"></i></a>
    </div>
    <p class="copyright-text">© 2023 Your Company. All rights reserved.</p>
    <div class="triangle-footer"></div>
  </footer>
{% endblock %}
