{% include 'sidebar.html' %}
{% extends 'guide_message.html' %}
{% block general %}
<body class="login-body body">

  <main class="container">
    <div class="row d-flex align-items-start ">
      <div class="col-12 col-md-10 mt-5 pt-5">

    <section class="p-0 pt-3">
      <h5 class="text-white">Personal Information (PHASE 2)</h5>
      <hr class="bg-white"/>
    </section>
    <section class="container">
      <form action="/personal_info_phase_2" method="post">
        {% for topic in questions %}
        {% for item in topic.questions %}
        <div class="mb-4 rounded-section p-3 mb-2 question border bg-white text">
          <!-- <span class="question-number">{{ loop.index }}</span> -->
          <label class="form-label p-2">{{ item.question }}</label>
          <div class="slider-container">
            <div class="d-flex gap-1 align-items-center">
              <input type="range" min="0" max="100" value="0" class="slider" id="slider-{{ topic.topic }}-{{ loop.index }}"
                    name="{{topic.topic}}_phase_2_score_{{ loop.index }}"
                    oninput="updateOutput(this.value, '{{ topic.topic }}-{{ loop.index }}')">
              <output class="d-flex align-items-center text-center" id="slider-output-{{ topic.topic }}-{{ loop.index }}">0</output>
            </div>
          </div>
          <div id="slider-interpretation-{{ topic.topic }}-{{ loop.index }}" class="slider-interpretation">Never</div>
          <input type="text" name="{{topic.topic}}_phase_2_comments_{{ loop.index }}"
                 placeholder="If this is an important topic related to your mental issue, please write more (optional)."
                 class="form-control mt-2">
        </div>
        {% endfor %}
        {% endfor %}
        <button type="submit" class="btns" id="submit-btn">
          Next <span id="spinner" class="spinner-border spinner-border-sm" style="display:none;"></span>
        </button>
      </form>

        <script>
        function updateOutput(value, index) {
            document.getElementById('slider-output' + index).textContent = value;
        }
        </script>
    </section>
  </main>
  <script>
    function updateOutput(value, index) {
      const outputElement = document.getElementById('slider-output-' + index);
      const interpretationElement = document.getElementById('slider-interpretation-' + index);

      outputElement.value = value;

      let interpretation;
      value = parseInt(value); // Convert the value to an integer

      if (value >= 80) {
        interpretation = "Very Frequently";
      } else if (value >= 60) {
        interpretation = "Frequently";
      } else if (value >= 40) {
        interpretation = "Occasionally";
      } else if (value >= 20) {
        interpretation = "Rarely";
      } else {
        interpretation = "Never";
      }
        interpretationElement.textContent = interpretation;
    }

    document.addEventListener('DOMContentLoaded', function () {
      var form = document.querySelector('form');
      var submitButton = document.getElementById('submit-btn');
      var spinner = document.getElementById('spinner');

      form.onsubmit = function () {
        spinner.style.display = 'inline-block';
        submitButton.disabled = true;
      };
    });
  </script>
  <div class="d-none">
    {% block title %}Step Two{% endblock %}
    {% block modal_content %} 
    <p>This is the second pre-questionaire that you should fill it before your therapy session with your therapist.</p>
    {% endblock %}
  </div>
</body>
</html>
{% endblock %}