{% include 'sidebar.html' %}
{% extends 'guide_message.html' %}

{% block general %}
<body class="login-body ph1-font">

  <main class="container">
    <div class="row d-flex align-items-start ">
      <div class="col-12 col-md-10 mt-5 pt-5">

    <section class="p-0 pt-3">
      <h5 class="text-white">Personal Information (PHASE 1)</h5>
      <hr class="bg-white"/>
    </section>
    <section class="container mt-0">
      <form action="/personal_info_phase_1" method="post">
        {% for topic in questions %}
        {% for item in topic.questions %}
        <div class="mb-4 rounded-section p-3 mb-2  border bg-white text">
          <!-- <span class="question-number">{{ loop.index }}</span> -->
          <label class="form-label p-2 text">{{ item.question }}</label>
          {% if item.type == 'select' %}
          <select name="{{topic.topic}}_question_{{ loop.index }}" class="form-select text" required>
            <option value="" disabled selected>{{ item.placeholder | default('Choose an option') }}</option>
            {% for option in item.options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
          {% elif item.type == 'textarea' %}
          <textarea name="{{topic.topic}}_question_{{ loop.index }}" class="form-control text" rows="4"
            placeholder="{{ item.placeholder | default('If this is an important topic related to your mental issue, please write more (optional).') }}"
            required></textarea>
          {% elif item.type == 'group' %}
          <div class="slider-container">
            <div class="d-flex gap-1 align-items-center">
              <input type="range" min="0" max="100" value="0" class="slider" id="slider-{{ topic.topic }}-{{ loop.index }}"
                    name="{{topic.topic}}_phase_1_score_{{ loop.index }}"
                    oninput="updateOutput(this.value, '{{ topic.topic }}-{{ loop.index }}')">
              <output class="d-flex align-items-center text-center" id="slider-output-{{ topic.topic }}-{{ loop.index }}">0</output>
          </div>
          </div>
          <div id="slider-interpretation-{{ topic.topic }}-{{ loop.index }}" class="slider-interpretation">Never</div>
          <input type="text" name="{{topic.topic}}_phase_1_comments_{{ loop.index }}"
                 placeholder="If this is an important topic related to your mental issue, please write more (optional)."
                 class="form-control mt-2">
          {% else %}
          <input type="{{ item.type }}" name="{{topic.topic}}_question_{{ loop.index }}" class="form-control"
                 placeholder="{{ item.placeholder | default('If this is an important topic related to your mental issue, please write more (optional).') }}"
                 required>
          {% endif %}
        </div>
        {% endfor %}
        {% endfor %}
        <button class="btns d-flex justify-content-center" type="submit" id="submit-btn">
          Next <span id="spinner" class="spinner-border spinner-border-sm" style="display:none;"></span>
        </button>
      </form>

        <script>
        function updateOutput(value, index) {
            document.getElementById('slider-output' + index).textContent = value;
        }
        </script>

    </section>


  </main>

  <script>
function updateOutput(value, index) {
  const outputElement = document.getElementById('slider-output-' + index);
  const interpretationElement = document.getElementById('slider-interpretation-' + index);

  outputElement.value = value;

  let interpretation;
  value = parseInt(value); // Convert the value to an integer

  if (value >= 80) {
    interpretation = "Very Frequently";
  } else if (value >= 60) {
    interpretation = "Frequently";
  } else if (value >= 40) {
    interpretation = "Occasionally";
  } else if (value >= 20) {
    interpretation = "Rarely";
  } else {
    interpretation = "Never";
  }
    interpretationElement.textContent = interpretation;
}


    document.addEventListener('DOMContentLoaded', function () {
      var form = document.querySelector('form');
      var submitButton = document.getElementById('submit-btn');
      var spinner = document.getElementById('spinner');

      form.onsubmit = function () {
        spinner.style.display = 'inline-block';
        submitButton.disabled = true;
      };
    });

  </script>
  <div class="d-none">
    {% block title %}Step One{% endblock %}
    {% block modal_content %} 
    <p>This is the first pre-questionaire that you should fill it before your therapy session with your therapist.</p>
    {% endblock %}
  </div>
</body>
</html>

{% endblock %}