{% include 'phases_header.html' %}
    <main id="main" class="mt-5">
      <section class="container-fluid p-0 pt-5">
        <div class="row pt-5">
          <div class="col-1"></div>
          <div class="col-6 text-xs">
            <h1 class="text-sm">Discover Your Personal Insights</h1>
            <h5 class="ph1-h5">Please fill out the following details to continue.</h5>
          </div>
          <div class="col-5">
            <div class="image-container">
              <div class="text-overlay">INSIGHT</div>
              <img src="{{ url_for('static', filename='../static/assets/img/Vector 1.png') }}" alt="banner" class="right-image"/>
            </div>
          </div>
        </div>
      </section>
      <section class="inner-page container">
          <form action="/personal_insights" method="post">
            {% for topic in questions %}
            {% for item in topic.questions %}
              <div class="mb-4 rounded-section p-3 mb-2 question border">
                <span class="question-number">{{ loop.index }}</span>
                <label class="form-label text-lg">{{ item.question }}</label>
                <textarea
                  name="{{topic.topic}}_question_{{ loop.index }}"
                  class="form-control border-1 border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-300 focus:border-transparent"
                  rows="4"
                  placeholder="{{ item.placeholder | default('Type your answer here...') }}"
                  required
                ></textarea>
              </div>
            {% endfor %}
            {% endfor %}
            <button type="submit" class="btn btn-primary" id="submit-btn">
              Submit <span id="spinner" class="spinner-border spinner-border-sm"></span>
            </button
          </form>
      </section>
    </section>
  </main><!-- End #main -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var form = document.querySelector('form');
      var submitButton = document.getElementById('submit-btn');
      var spinner = document.getElementById('spinner');
  
      form.onsubmit = function() {
          spinner.style.display = 'inline-block';
          submitButton.classList.add('spinner-visible'); 
          submitButton.disabled = true;
      };
  
      var sliders = document.querySelectorAll('input[type="range"]');
      sliders.forEach(function(slider) {
          slider.oninput = function() {
              var output = document.getElementById(this.id + 'Output');
              output.value = this.value;
          }
      });
  });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var form = document.querySelector('form');
      var submitButton = document.getElementById('submit-btn');
      var spinner = document.getElementById('spinner');
    
      form.onsubmit = function() {
        spinner.style.display = 'inline-block';
        submitButton.classList.add('spinner-visible'); 
        submitButton.disabled = true;
      };
      var sliders = document.querySelectorAll('input[type="range"]');
      sliders.forEach(function(slider) {
        slider.oninput = function() {
          var output = document.getElementById(this.id + 'Output');
          output.value = this.value;
        }
      });
    });
  </script>
</body>
</html>

