{% extends 'base.html'%}
{% block content %}
  <main id="main" class="login-body">
    <section>
      <div class="container mt-5">
        <form id="registerForm" action="{{ url_for('register') }}" class="login-form shadow-sm bg-white"  method="post">
          <h2 class="mb-4 text-center">Register</h2>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" name="pass" value="" required/>
            <div id="passwordHelp" class="form-text alert-warning p-1 rounded">Use at least 12 characters, with at least one A-Z, one a-z, one 1-9, and one symbol(@,$,#,...).</div>
          </div>
          <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" placeholder=" Repeat password" name="pass2" value=""/>
          </div>
          <div class="mb-3">
            <label for="referral" class="form-label">Referral Link<span class="text-secondary text-base">(Optional)</span></label>
            <input type="text" class="form-control" placeholder="Add your referral link" name="referral" value=""/> 
          </div>             
          <button class="submit-btn" data-bs-toggle="modal" data-bs-target="#buy-ticket-modal" data-ticket-type="premium-access" value="register">Register</button>
          <p class="message mt-3 text-center">Already registered? <a href="{{ url_for('login') }}">Sign In</a></p>
        </form>
      </div>
    </section>
    <!-- Random key modal -->
      <div class="modal fade" id="flashModal" tabindex="-1" role="dialog1" aria-labelledby="flashModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="flashModalLabel">Message</h5>
              <button class="btn-orange" id="randomKeyCopyButton" data-clipboard-target="#randomKeyCopyButton">Copy</button>
            </div>
            <div class="modal-body">
              <!-- Flash message will display here -->
            </div>
            <div class="modal-footer">
              <a href="{{url_for('register')}}" class="btn-orange">Cancel</a>
              <a href="{{url_for('login')}}" class="btn-orange" style="display: none;">Login</a> 
              <input type="text" class="form-control" id="randomKeyInput" value="{{ session['random_key'] }}" readonly style="display:none;"/>
            </div>
          </div>
        </div>
      </div>
  </main><!-- End #main -->
    <script>
      $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
      });
      $(document).ready(function() {
        {% with messages = get_flashed_messages(category_filter=['success']) %}
          {% if messages %}
            $(".modal-body").text("{{ messages[0] }}");
            $(".modal-footer a").show();  // Show the Login button
            document.getElementById('randomKeyCopyButton').style="display: inline-block";
            var myModal = new bootstrap.Modal(document.getElementById('flashModal'), {});
            myModal.show();
          {% else %}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                $(".modal-body").text("{{ messages[0] }}");
                $(".modal-footer a").hide();  // Hide the Login button
                var myModal = new bootstrap.Modal(document.getElementById('flashModal'), {});
                myModal.show();
              {% endif %}
            {% endwith %}
          {% endif %}
        {% endwith %}
      });
      document.addEventListener('DOMContentLoaded', (event) => {
        const copyButton = document.getElementById('randomKeyCopyButton');
        const copyText = document.getElementById('randomKeyInput');
    
        if (copyButton && copyText) {
          copyButton.addEventListener('click', function() {
            if (!navigator.clipboard) {
              console.error('Clipboard API not available');
              return;
            }
    
            navigator.clipboard.writeText(copyText.value).then(() => {
              // Change button appearance to indicate success
              copyButton.textContent = 'Copied!';
              copyButton.style.backgroundColor = '#efb947';
    
              // Revert button appearance after 2 seconds
              setTimeout(() => {
                copyButton.textContent = 'Copy';
                copyButton.style.backgroundColor = '#E28647';
              }, 2000);
            }).catch(err => {
              console.error('Error copying to clipboard: ', err);
            });
          });
        }
      });

      document.getElementById('password').addEventListener('blur', function() {
            const password = document.getElementById('password').value;
            const passwordHelp = document.getElementById('passwordHelp');
            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_\-+=<>?])[A-Za-z\d!@#$%^&*()_\-+=<>?]{12,}$/;

            if (!passwordRegex.test(password)) {
                passwordHelp.style.color = 'red';
                passwordHelp.textContent = 'Password does not meet the required criteria.';
            } else {
                passwordHelp.style.color = 'green';
                passwordHelp.textContent = 'Password is valid.';
            }
        });
    </script>
{% endblock %}
