
{% include 'sidebar.html' %}
{% block custom_style %}
  <style>
    body {
      background-color: #00112D;
    }

    .card {
      background: #FFFFFF;
      /* width: 80%; */
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      color: #00112D;
    }

    .card-title {
      font-size: 16px;
      font-weight: bold;
    }

    .card-text {
      font-size: 14px;
    }

    /* .card:hover {
      border-color: #49C2FE;
      background-color: rgba(34, 41, 139, 0.5);
    }

    .fade-in-left {
    animation: fadeInLeft 2s;
    }

    .fade-in-right {
    animation: fadeInRight 2s;
    }

    .fade-in-bottom {
    animation: fadeInUp 3s;
    } */
  </style>
{% endblock %}
{% block content %}
<body class="login-body">
  <main class="container">
    <div class="row d-flex align-items-start">
      <div class="col-12 col-md-9 mt-5 pt-5">
        <h5 class="text-white">Questionnaire Reports</h5>
        <hr class="bg-white"/>
        <div class="row mt-5 d-flex justify-content-start align-items-stretch">
          {% if summaries %}
            {% for report in reports %}
              <div class="col-12 col-md-3 p-3">
                <div class="card mb-4 h-100">
                  <div class="card-body row g-4 justify-content-center align-items-center">
                    <h1 class="text-center">{{ report.id }}</h1>
                    <h4 class="text-center">{{ report.title }}</h4>
                    <a href="{{ report.url }}" class="text-decoration-none">
                      <button class="btn-orange w-75">Show</button>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p class="text-white text-center">No questionnaire report available.</p>
            <a class="text-info hover-text-info text-decoration-underline" href="{{ url_for('appointment') }}">Click here to fill the qustionnaire and get report!</a>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}