{% extends 'base.html' %}
{% block custom_style %}
  <style>
    .card {
      background-color: transparent;
      border: 2px solid #E28647;
      transition: border-color 0.3s;
      border-radius: 10px;
      color: #fff;
    }
    .card:hover {
      border-color: #49C2FE;
      background-color: rgba(34, 41, 139, 0.5);
    }

    .fade-in-left {
    animation: fadeInLeft 2s;
    }

    .fade-in-right {
    animation: fadeInRight 2s;
    }

    .fade-in-bottom {
    animation: fadeInUp 3s;
    }
  </style>
{% endblock %}
{% block content %}
  <main class="login-body">
    <div class="container mt-5 pt-5">
      <h5 class="text-white">Reports</h5>
      <hr class="bg-white"/>
      <div class="row mt-5">
        {% for report in reports %}
          <div class="col-md-6 p-3">
            <div class="card mb-4
              {% if report.id == '01' %}
                fade-in-left
              {% elif report.id == '02' %}
                fade-in-right
              {% elif report.id in ['03', '04'] %}
                fade-in-bottom
              {% endif %}"
            >
              <div class="card-body row g-4">
                <div class="col-md-6">
                  <h1 class="card-title">{{ report.id }}</h1>
                </div>
                <div class="col-md-6">
                  <a href="{{ report.url }}" class="mt-0"><img src="{{ url_for('static', filename='../static/assets/img/book-open.png') }}" alt="Logo" class="float-end"></a>
                </div>
                <div class="col-md-9">
                  <h4 class="card-title">{{ report.title }}</h4>
                </div>
                <div class="col-md-3">
                  <a href="{{ report.url }}" class="mt-0"><img src="{{ url_for('static', filename='../static/assets/img/download.png') }}" alt="Logo" class="float-end"></a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}