{% extends 'base.html'%}
{% block content %}
  <main class="login-body h-100">
    <div class="container mt-5 pt-5 mb-5">
      <form class="login-form shadow-sm bg-white mt-5 mb-5 pb-5" method="post">
        <h2 class="text-center mt-3 mb-5">Reset Password</h2>
        <div class="mb-5 mt-5">
            <label for="new_password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <div class="mb-5">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="btn-orange mb-4">Reset Password</button>
      </form>
    </div>
  </main>
{% endblock %}