{% include 'phases_header.html' %}
  <!-- ======= Hero Section ======= -->
  <section id="treatment" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start mt-5 pt-5" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8 pt-5">
          <h1>Start with <span>Treatmant</span></h1>  
        </div>
        <div id="why-us" class="why-us">
            <div class="container mt-3 pt-5" data-aos="fade-up">
        
              <div >
                <h2>How it works</h2>
                
              </div>
        
              <div class="row">
        
                <div class="col-lg-6">
                  <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <span>01</span>
                    <h4>Diagnose</h4>
                    <p>Respond to the questions and provide a comprehensive explanation of your current circumstances. Your responses will be used for diagnostic purposes. Please keep in mind that with this account, you can only undergo one diagnostic assessment.</p>
                    <a href="#" class="btn btn-primary" style="color:white;background-color:#e38748;">Diagnose</a>
                  </div>
                </div>
        
                <div class="col-lg-6 mt-4 mt-lg-0">
                  <div class="box" data-aos="zoom-in" data-aos-delay="200">
                    <span>02</span>
                    <h4>Chatbot</h4>
                    <p>Once you've completed your diagnostic assessment, you can begin your chatbot treatments. You'll have multiple sessions to attend, and after each session, you'll receive valuable advice and homework. Make sure to attend all the sessions for the treatment to be effective, aiming for one session per week.</p>
                    <a href="{{ url_for('chat') if diagnosis_complete else '#' }}" class="btn btn-primary" style="color:white;background-color:#e38748; {{ 'cursor:pointer;' if diagnosis_complete else 'cursor:not-allowed;opacity:0.5;' }}">Chatbot</a>
                  </div>
                </div>
        
              </div>
        
            </div>
        </div><!-- End Why Us Section -->

      </div>
    </div>
  </section><!-- End Hero -->
</body>
</html>
